.popularityTracker {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;

    &.green {
        background-color: green;
    }
    &.red {
        background-color: red;
    }
    &.blue {
        background-color: blue;
    }
    &.brown {
        background-color: brown;
    }
    &.isOwn {
        width: 9vw;
        height: 9vw;
        position: fixed;
        right: 7vw;
        bottom: 1vw;
    }
}