.questSocket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .cardSocket {
        width: 11vw;
        height: 7vw;
        background-color: rgb(243, 194, 130);
        border-radius: 5%;
        &.noise {
            visibility: hidden;
            width: 9vw;
            height: 1vw;
        }
    }

    .icon {
        // box-sizing: border-box;
        width: 2vw;
        height: 2vw;
        border-radius: 20% 0 0 20%;
        background-color: rgb(243, 194, 130);
        padding: 0.3vw;

        &.noise {
            width: 3vw;
            height: 3vw;
            padding: 0.5vw;
            border-radius: 50%;
        }
    }
}